<html>
    <head>
        <title>Pedro Bauer's Personal Website</title>
        <!-- Meta Tags -->
        <meta charset="UTF-8">
        <meta name="description" content="This is Pedro Bauer's personal website for displaying purposes and use of portfolio">
        <meta name="keywords" content="Pedro Bauer,Webdeveloper">
        <meta name="author" content="Pedro Bauer">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Base JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="/static/thirdparty/bootstrap/css/bootstrap.min.css">
        <script src="/static/thirdparty/bootstrap/js/bootstrap.min.js"></script>
        <!-- Custom Stylesheet -->
        <link rel="stylesheet" type="text/css" href="/static/styles/css/style.css">
    </head>