<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include partials/head %> 
  </head>
  <body>
    <% include partials/menu %>
    <header class="header">
      <div class="container">
        <div class="headerTitle">
          <h1>Pedro Bauer</h1>
          <h3>A Webdeveloper</h2>
        </div>
        <div class="headerMore">

        </div>
      </div>
    </header>
    <div class="container-fluid aboutMe">
      <div class="container aboutMe">
        <div class="row rowPad">
          <div class="col-md-4">
            <img src="https://www.xing.com/image/b_b_0_eb89a90f2_13910497_2/pedro-bauer-foto.1024x1024.jpg" />
          </div>
          <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid skills">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <i class="fab fa-html5"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

          </div>
          <div class="col-sm-6"> 
            <i class="fab fa-css3-alt"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

          </div>
          <div class="col-sm-6"> 
            <i class="fab fa-js-square"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

          </div>
          <div class="col-sm-6"> 
            <i class="fab fa-php"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="/" class="button">More Skills</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid projectsWorkedOn">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col-sm-4"> 
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col-sm-4"> 
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid myProjects">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col-sm-4"> 
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col-sm-4"> 
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <% include partials/script %>
  <% include partials/footer %>
</html>